.timeline-container {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    height: auto;
    /* margin: 10px;  */
    background-color: rgb(246,246,246);
  }
  
  .timeline {
    display: flex;
    flex-direction: column; /* Change to column direction */
  }
  
  .left {
    width: 80%;
  }