.home-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: white;
    /* background-color: black; */
    /* background-color: rgb(246, 246, 246); */
    /* background-image: linear-gradient(to bottom, #2d40c0, #5c5edf); */
    text-align: center;
    height: 700px;
    background-image: url('../images/bg_1.jpeg');
  }
  
  .container p {
    margin: 5px 0;
  }
  
  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
  
  .container .interests {
    opacity: 0;
    animation: fadeIn 1s forwards;
    animation-delay: 1s; /* Add a delay to start the animation after a brief pause */
  }
  
  